
*, *:before, *:after{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

html,button,input,select,textarea{
  color: #111;
  font: normal normal 1em/1.4em 'DejaWeb',Verdana,sans-serif;
}

body {
	margin: 3%;
}

td {
	border: 1px solid black;
	padding: 1em; }


.image-list {
	padding: 0;
	list-style: none; }

.image-list li {
	display: inline-block;
	margin: 0.5em; }
	